button[data-md-color-accent], button[data-md-color-primary]{
  /* width: 5rem; */
  max-width: 7rem;
  margin-bottom: .4rem;
  padding: .4rem .8rem .4rem;
  transition: background-color .25s,opacity .25s;
  border-radius: .2rem;
  font-size: 1.28rem;
  text-align: left;
  cursor: pointer;
}

.md-typeset iframe, .md-typeset img, .md-typeset svg {
  padding-top: 20px;
}
