{% import "partials/language.html" as lang with context %}
<nav class="md-nav md-nav--secondary">

  {% if page.toc | first is defined %}
    <label class="md-nav__title" for="__toc">{{ lang.t("toc.title") }}</label>
  {% endif %}

    <ul class="md-nav__list" data-md-scrollfix>
      {% for toc_item in page.toc %}
        {% include "partials/toc-item.html" %}
      {% endfor %}
      {% if page.meta.source and page.meta.source | length > 0 %}
        <li class="md-nav__item">
          <a href="#__source" title="{{ lang.t('meta.source') }}" class="md-nav__link md-nav__link--active">
            {{ lang.t("meta.source") }}
          </a>
        </li>
      {% endif %}
      {% set disqus = config.extra.disqus %}
      {% if page and page.meta and page.meta.disqus is string %}
        {% set disqus = page.meta.disqus %}
      {% endif %}
      {% if not page.is_homepage and disqus %}
        <li class="md-nav__item">
          <a href="#__comments" title="{{ lang.t('meta.comments') }}" class="md-nav__link md-nav__link--active">
            {{ lang.t("meta.comments") }}
          </a>
        </li>
      {% endif %}
    </ul>
</nav>
